/* Write your CSS here */
.btn {
  color: #303150;
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
